# Aiven Cloud MySQL
DB_URL=jdbc:mysql://mysql-13ba3984-jathushansundararasu-23c8.l.aivencloud.com:16805/defaultdb?sslmode=require
DB_USERNAME=avnadmin
DB_PASSWORD=<YOUR_AIVEN_PASSWORD>

# Server Configuration
PORT=8080
JWT_SECRET=JWT_SECRET_KEY
JWT_EXPIRATION_MS=86400000

# Default Seeded Super Admin Credentials (auto-created on startup)
APP_ADMIN_EMAIL=admin@bigbite.com
APP_ADMIN_PASSWORD=Admin@123



