# Aiven MySQL Database Credentials Template
DB_URL=jdbc:mysql://mysql-13ba3984-jathushansundararasu-23c8.l.aivencloud.com:16805/defaultdb?sslmode=require
DB_USERNAME=avnadmin
DB_PASSWORD=<YOUR_AIVEN_PASSWORD>
